name: Build

on:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distribution: ['zulu', 'adopt']
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java: [17, 21]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: ${{matrix.distribution}}
          java-version: ${{matrix.java}}
          cache: "maven"

      - name: Build with Maven
        run: mvn clean package --file pom.xml -Dmaven.compiler.source=${{matrix.java}} -Dmaven.compiler.target=${{matrix.java}}
